<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>3CA55CCF-A751-4D1C-A517-18481D00C99D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9DABD914-1C52-420A-887F-C443101B4AF5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>906BC5BC-CA97-4D52-904E-CCDA1AF4210A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A38117C0-2708-4EED-A805-E5415354C48E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A02F0B79-C3FC-4623-857C-B386F568DB08</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>906BC5BC-CA97-4D52-904E-CCDA1AF4210A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A17C59BC-F8F9-4624-9449-DEE5FE31FF8B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A17C59BC-F8F9-4624-9449-DEE5FE31FF8B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3CA55CCF-A751-4D1C-A517-18481D00C99D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A38117C0-2708-4EED-A805-E5415354C48E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C04E2B5F-770C-4167-9EE8-3BA1B13D41B2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C04E2B5F-770C-4167-9EE8-3BA1B13D41B2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>810DF435-D507-440F-8CBA-571517AC6233</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4A23BB75-2DDD-4671-A85F-15D779DD8028</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>解码</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>qrcode</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string></string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>810DF435-D507-440F-8CBA-571517AC6233</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>/usr/bin/php decode.php</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C04E2B5F-770C-4167-9EE8-3BA1B13D41B2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/sbin/screencapture -i screenshot.png</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A38117C0-2708-4EED-A805-E5415354C48E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>906BC5BC-CA97-4D52-904E-CCDA1AF4210A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query} copid to clipboard</string>
				<key>title</key>
				<string>copid to clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4A23BB75-2DDD-4671-A85F-15D779DD8028</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>qrcode</string>
				<key>subtext</key>
				<string>截图解码或生成二维码</string>
				<key>text</key>
				<string>qrcode</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A02F0B79-C3FC-4623-857C-B386F568DB08</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>&lt;?php
require 'phpqrcode/phpqrcode.php';

$text = $argv[1];
$filename = 'screenshot.png';
QRcode::png($text, $filename, 1, 12, 1);

$item = [
    "items" =&gt; [[
		"type" =&gt;  "file",
        "title" =&gt; $text,
        "subtitle" =&gt; "press Enter to copy",
        "arg" =&gt; $filename,
        "icon" =&gt; [
            "type" =&gt; "file",
            "path" =&gt; $filename
        ],
		"valid" =&gt; true,
    ]],
];

echo json_encode($item, JSON_UNESCAPED_UNICODE | JSON_UNESCAPED_SLASHES | JSON_NUMERIC_CHECK);
?&gt;</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3CA55CCF-A751-4D1C-A517-18481D00C99D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>9DABD914-1C52-420A-887F-C443101B4AF5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>A17C59BC-F8F9-4624-9449-DEE5FE31FF8B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>3CA55CCF-A751-4D1C-A517-18481D00C99D</key>
		<dict>
			<key>note</key>
			<string>生成二维码</string>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>4A23BB75-2DDD-4671-A85F-15D779DD8028</key>
		<dict>
			<key>xpos</key>
			<integer>660</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>810DF435-D507-440F-8CBA-571517AC6233</key>
		<dict>
			<key>xpos</key>
			<integer>660</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>906BC5BC-CA97-4D52-904E-CCDA1AF4210A</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>9DABD914-1C52-420A-887F-C443101B4AF5</key>
		<dict>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>A02F0B79-C3FC-4623-857C-B386F568DB08</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>A17C59BC-F8F9-4624-9449-DEE5FE31FF8B</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>A38117C0-2708-4EED-A805-E5415354C48E</key>
		<dict>
			<key>note</key>
			<string>截图</string>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>C04E2B5F-770C-4167-9EE8-3BA1B13D41B2</key>
		<dict>
			<key>note</key>
			<string>解码</string>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
